# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore coverage report
/coverage/*
